<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ</title>
</head>
<body>
<div th:insert="blocks/headerAdmin"></div>
<h1>Номера</h1>
<div th:switch="${numbers}" class="container my-5">
    <div th:case="*">
        <table >
            <tr>
                <th>Номер</th>
                <th>Цена</th>
                <th>Тип</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="number : ${numbers}">
                <td th:text="${number.numbNumber}"></td>
                <td th:text="${number.cost}"></td>
                <td th:if="${number.types != null}" th:text="${number.types.name}"></td>
                <td><a th:href="@{/editNumber/{id}(id=${number.id})}">EDIT</a></td>
                <td><a th:href="@{/deleteNumber/{id}(id=${number.id})}">Удалить</a></td>
            </tr>
        </table>
    </div>
    <p class="my-5"><a href="/newNumbers">Создать номер</a></p>
</div>
</body>
</html>