<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<div th:insert="blocks/headerUser"></div>
<h1>Отзывы</h1>
<div th:switch="${reviews}" class="container">
    <div th:case="*">
        <table >
            <tr>
                <th>Пользователь</th>
                <th>Текст</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.user.username}"></td>
                <td th:text="${review.text}"></td>
            </tr>
        </table>
    </div>
    <p class="my-5"><a href="/newReview">Написать отзыв</a></p>
</div>
</body>
</html>