<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Создание</h1>
<div th:insert="blocks/headerUser"></div>
<h1>Добавить бронь</h1>
<div class="container">
    <form action="#" th:action="@{/addReservUser}" th:object="${reserv}" method="post">
        <label for="name">Начало:</label>
        <input type="date" th:field="*{start}" id="name" placeholder="Начало" required><br>
        <span th:if="${#fields.hasErrors('start')}" th:errors="*{start}" ></span>
        <label for="surname">Конец:</label>
        <input type="date" th:field="*{end}"  id="surname" placeholder="Конец"  required><br>
        <span th:if="${#fields.hasErrors('end')}" th:errors="*{end}" ></span>
        <label for="role">Номер:</label>
        <select id="role" th:field="*{numberModel}">
            <option th:each="number : ${allNumbs}" th:value="${number.id}" th:text="${number.numbNumber}"></option>
        </select>
        <button type="submit">Создать</button>
    </form>
    <a th:href="@{/allReservs}">Назад</a>
</div>
</body>
</html>